html {
    overflow-x: hidden;
}

nav {
    color: white !important;
}
    
.container-full {
    margin: 0 auto;
    width: 100%;
}

svg {
    font: 10px sans-serif;
}

.caption {
    font-weight: bold;
}

.key path {
    display: none;
}

.key line {
    stroke: #000;
    shape-rendering: crispEdges;
}

.county-border {
  fill: none;
  stroke: #000;
  stroke-opacity: .3;
}


.map-container {
    background-color: gray;
    padding-top: 80px;
    padding-left: 150px;
    width: 100%;
} 

.map-low-left {
    position: relative;    
    width: 300px;
}

.expand-info {
    text-align: center;
    position: relative;
    z-index: 9999;
}

.expand-info a {
    font-size: 16px;
    padding: 10px 50px;
    margin: -130px 0 0 0;
}

.main-container {
    padding-left: 20px;
    padding-bottom: 50px;
}


.footer-wrapper {
    height: 300px;  
    width: 100%;
    background-color: #337AB7;
    margin: 0; 
}

.tooltip {   
  position: absolute;           
  text-align: left;           
  width: 175x;                  
  height: 216px;                 
  padding: 12px;             
  font: 12px sans-serif;        
  background: lightsteelblue;   
  border: 0px;      
  border-radius: 8px;
  pointer-events: none;         
}
